<div class="genericSection section-SINGLE_PROJECT">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_igallery.jpg" />
    <!--/section background image-->
        
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.png" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Time Bubble</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->
        
        
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">One column</h3>
                <p class="defaultText textColor01">
                Time Bubble, What if a wave of hand opens up a bubble and brings you back the past?
                <br /><br />
                Time Bubble is a live video installation that tinkers with the layering of past and present. Areas of active motion reveal time bubbles: the more you move, the further you see into the past. Real time motion opens up a time bubble and the now will be revealed through the bubbles in the future.
                <br /><br />
                This interplay of past and present relates to the concept of historical body – that past experiences accumulate within the body and guide one's present. Even if the consequences of previous actions are not immediately apparent, they inform the course of one's future and manifest in how one witnesses the present.
                <br /><br />
                E.H. Carr defined history as "an unending dialogue between the past and the present ". This ongoing dialogue is especially apparent in the body where our every movement – the most subtle mannerism them to the most technically proficient dance gesture – is heavily influenced by the corporeal knowledge bank. Time Bubble illustrates this concept of the historical body elegantly: the present is filled with the echoes of the past. The two go hand in hand, the present cannot exist without the past.
                <br /><br />
                </p>
                <p class="quoteAuthor textColor01">Text by Katherine Disenhof and Weidong Yang</p>
            </div>         
        </div>
        <!--/full width text-->
        

    </div>
    <!--/skeleton container-->
 
    
         
</div>