/* There will be consequences if this stylesheet gets messed up Edward */

/* =============== */
/* = General CSS = */
/* =============== */





* { margin:0; padding:0; border:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

body { background: #FFF;  color:#888; font-family:helvetica, arial, sans-serif;}



a { color:#00A; text-decoration:none; outline:none}
a:hover { text-decoration:underline;}
a:active { color:#EB1112;}

h1, h2, h3, h4, h5, h6 { color:#000; font-weight:normal; letter-spacing:--0.5px;}
h1 { font-size:40px; font-weight:normal;}

h2 { font-size:30px; margin-bottom:34px;}
h2 + p { margin-top:-30px;}
p + p { margin-top:-10px;}
p + ul { margin-top:-15px;}
h2 + ul { margin-top:-20px;}

h3 { font-size:20px; margin-bottom:3px;}
h4 { font-size:13px;}

p { margin:0 0 25px 0; line-height:1.4em; font-size:13px; letter-spacing:0.5px;}
ul { margin:0 0px 15px 0;  }
li { margin:0 0 10px 15px; list-style:square; font-size:13px; }



/* ========== */
/* = Layout = */
/* ========== */


#content { width:925px; margin:0 auto; padding:100px 0 0 0; }

ul#navigation { position:fixed; top:135px; margin-left:-40px;}
ul#navigation li { list-style:none; font-size:12px; }
ul#navigation li a {  padding:8px 8px 0 0; margin-bottom:0px; display:inline-block; }

.block { border-bottom:1px solid #222; margin: 40px 0; padding:0 0 0px 0;}
.block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.logo { padding-bottom:30px;}



/* the grid */
.col-1, .col-2, .col-3, .col-4, .col-4-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {margin-right:35px; float:left;}
.col-12 { margin-right:0px;}

.col-12 {width:925px;}
.col-11 {width:845px;}
.col-10 {width:765px;}
.col-9 {width:685px;}
.col-8 { width:605px;}
.col-7 {width:525px;}
.col-6 {width:445px;}
.col-5 {width:365px;}
.col-4-5 {width:325px;}
.col-4 {width:285px;}
.col-3 {width:205px;}
.col-2 {width:125px;}
.col-1 {width:45px;}  


.last {margin-right:0 !important;}
.content-shifter { float:right; width:685px; }

/* =============================================== */
/* = Individual Pages (or sections) = */
/* =============================================== */

.intro h1 { font-weight:normal; line-height:1.11em; margin-bottom:10px; color:#fff;}
.intro h2 { font-size:50px; color:#00b6ff;  font-weight:bold;}
.intro ul { 
	padding-left: 30px;
}

.examples { margin-bottom:16px;}
.examples .col-3 { overflow:hidden;}
.examples .col-3 a { color:#aaa; font-size:13px; line-height:1.31em; position:relative;}
.examples .col-3 a strong { display:block; color:#fff;font-size:15px; margin:0 0 2px 0;}
.examples .col-3 a em { color:#00b6ff; font-family:georgia,serif; display:block; margin:2px 0 0 0; }
.examples .col-3 a span { background:rgb(0,0,0);  background:rgba(0,0,0,0.9); display:block; top:-90px; position:absolute; padding:15px 8px;}
.examples .col-3 a:hover { opacity:0.5;}

.eventfor h3 { color:#fff; font-weight:bold; }
.eventfor h3 img { position:relative; top:6px; margin-right:3px;}

.getstarted { padding-bottom:35px; }
.getstarted h3 { display:inline; font-weight:bold; text-transform:uppercase; font-size:14px;}
.getstarted p { display:inline;}



.talk .col-3 strong { color:#fff; display:block; margin-bottom:3px; }
.talk ul { margin-bottom:45px;}


.footer  { margin-top:-30px; text-transform:uppercase; font-size:11px; padding-bottom:420px;}
.footer p { font-size:inherit;}
.footer .col-6 p { font-size:inherit; color:#444;}
.footer .col-3 p { text-align:right; opacity:1;}


