<div class="genericSection section-ABOUT">
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->

    <!--add here page number-->
    <!-- <p class="pageNum textColor01">01/<span class="textColor03">01</span></p> -->
    <!--/add here page number-->

    <!--skeleton container-->
    <div class="container">

        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->


        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">About Kinetech Arts (@kine_tech)</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->

        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <p class="defaultText textColor01">
                    Kinetech Arts is a collective of artists and scientists striving to challenge possibility through collaborative creativity. Kinetech Arts holds a weekly lab and forum at KUNST-STOFF arts open to all interested participants to explore and develop connections among technology, dance, and visual art. <br />

                    Follow us for updates on our explorations, and our latest adventures in the world of dance, movement and media.
                </p>
            </div>
        </div>
        <!--/full width text-->

        <!--degrade slider container-->
        <div class="row">
            <div class="sixteen columns">

                    <!--slider-->
                    <div id="degradeSlider">
                        <!--slides mask-->
                        <div class="slidesContent">

                            <!--slides container-->
                            <div class="degradeSlides">

                                <!--slide-->
                                <div class="degradeSlide">
                                    <img class="degradeSlideImage" src="slider_images/4seeflyer.jpg" alt="" />
                                    <!--captions-->
                                    <div class="degradeSlideCaptions">
                                       <div class="captionItem" style="width: 940px;" data-animation="SlideFromLeft" data-delayAnimation="300" data-animationDuration="700" data-positionX="60" data-positionY="140" data-isBackground="true" data-backgroundColor="#fff9e3" data-backgrondTransparency=".77">
                                            <p class="slideTitle">September 6, 7 2013</p>
                                            <p class="slideText">Does the cycle of surveillance oppress or emancipate?<br />
                                            Do acts of surveillance separate the watcher from the watched,<br />
                                            or are they co-conspirators in the performance of modern life?
                                            </p>
                                            <!-- <br />
                                            <a class="genericButton" onclick="slider.goToSlide(1);">Shortcodes</a>
                                            <br /><br />
                                            <p class="slideTextItalic">Make the best of it!</p> -->
                                       </div>
                                    </div>
                                    <!--/captions-->
                                </div>
                                <!--/slide-->

                                <!--slide-->
                                <div class="degradeSlide">
                                    <img class="degradeSlideImage" src="slider_images/KinetechMosaic1.jpg" alt="" />
                                    <!--captions-->
                                    <div class="degradeSlideCaptions">
                                       <div class="captionItem" data-animation="SlideFromBottom" data-delayAnimation="200" data-animationDuration="700" data-positionX="30" data-positionY="140" data-isBackground="true" data-backgroundColor="#fff9e3" data-backgrondTransparency=".77">
                                           <p class="slideTitle">Sensory Awakening</p>
                                           <p class="slideText">
                                            May 20, 21st, 2013<br />
                                            Mosaic<br />

                                           <!-- <a class="genericButton" href="http://codecanyon.net/item/degrade-the-swiss-army-slider/full_screen_preview/2725332" target="_blank">Test drive</a>
                                           <br /><br />
                                           </p>
                                           <p class="slideTextItalic">Make the best of it!</p> -->
                                       </div>
                                    </div>
                                    <!--/captions-->
                                </div>
                                <!--/slide-->

                                <!--slide-->
                                <div class="degradeSlide">
                                    <img class="degradeSlideImage" src="slider_images/KinetechStar1.jpg" alt="" />
                                    <div class="degradeSlideCaptions">
                                           <div class="captionItem" data-animation="SlideFromBottom" data-delayAnimation="200" data-animationDuration="700" data-positionX="30" data-positionY="140" data-isBackground="true" data-backgroundColor="#fff9e3" data-backgrondTransparency=".77">
                                               <p class="slideTitle">Sensory Awakening</p>
                                               <p class="slideText">
                                                May 20, 21st, 2013<br />
                                                Flo<br />

                                               <!-- <a class="genericButton" href="http://codecanyon.net/item/degrade-the-swiss-army-slider/full_screen_preview/2725332" target="_blank">Test drive</a>
                                               <br /><br />
                                               </p>
                                               <p class="slideTextItalic">Make the best of it!</p> -->
                                       </div>
                                   </div>

                                </div>
                                <!--/slide-->

                              <!--slide-->
                                <div class="degradeSlide">
                                    <img class="degradeSlideImage" src="slider_images/ragdoll2.jpg" alt="" />
                                    <div class="degradeSlideCaptions">
                                           <div class="captionItem" data-animation="SlideFromBottom" data-delayAnimation="200" data-animationDuration="700" data-positionX="30" data-positionY="140" data-isBackground="true" data-backgroundColor="#fff9e3" data-backgrondTransparency=".77">
                                               <p class="slideTitle">Sensory Awakening</p>
                                               <p class="slideText">
                                                May 20, 21st, 2013<br />
                                                Rag Doll<br />

                                               <!-- <a class="genericButton" href="http://codecanyon.net/item/degrade-the-swiss-army-slider/full_screen_preview/2725332" target="_blank">Test drive</a>
                                               <br /><br />
                                               </p>
                                               <p class="slideTextItalic">Make the best of it!</p> -->
                                       </div>
                                   </div>

                                </div>
                                <!--/slide-->

                            </div>
                            <!--/slides container-->

                        </div>
                        <!--/slides mask-->
                    </div>
                    <!--/slider-->

            </div>
        </div>

        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">As seen on online magazine Thunk</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
                
            <center>
            <a href="https://itunes.apple.com/us/app/id670963308">
                <img class = "imageCenter" src="pages/about_images/thunk-a_logo.png" width = "600"/>
            </a>
            <a href="https://itunes.apple.com/us/app/id670963308">link to Thunk</a>
            </center>

            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">On media</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>

                <p class="defaultText textColor01">
                    <center>  <p class="defaultText textColor01"> Awarded </p> <a href = "http://www.sfweekly.com/bestof/2014/award/best-genre-defying-sci-artistic-collaborative-3710125/">Best of San Francisco 2014 by SFWeekly<br />
                    <img src="pages/about_images/Kinetech_Arts_TheOtherSide_mid.jpg" height = "200"/>
                    </a><br/>

                    <p class="defaultText textColor01">
                        Photo by <a href ="http://www.andrewshermanphoto.com/"> Andrew Sherman</a> <br />
                        Painting in the image by <a href ="http://girlcharlie.com/">Charlie Levin</a>
                    </p></center>
                    <br />

                    <a href = "http://www.voiceplaces.com/san-francisco-bay-area/kinetech-arts-presents-first-anniversary-3702453-e">Kinetech Arts presents First Anniversary</a><br/><br/>
                
                    <a href = "http://thunkism.com/kinetech/">Kinetech on Thunk</a><br/><br/>
                
                    <a href = "http://blogs.sfweekly.com/exhibitionist/2013/05/science_is_beautiful.php">Quantum Choreography: Kinetech Dance Explores the Finest Motion in the Universe</a>
                </p>
            </div>
        </div>
        <!--/Section title H2-->

        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Concept</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
            <center>
                <img class = "imageCenter" src="pages/about_images/kinetech concept.jpg" width = "600"/>
            </center>
        </div>
        <!--/Section title H2-->



        <!--/degrade slider container-->


        <!--three columns text-->
        <!-- <div class="row">
            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/shapes.png" />
                <h3 class="textColor01">Branding</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/target.png" />
                <h3 class="textColor01">Identity</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/tv.png" />
                <h3 class="textColor01">Design</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

        </div> -->
        <!--/three columns text-->

    </div>
    <!--/skeleton container-->



</div>