<div class="genericSection section-SINGLE_PROJECT">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <!-- <p class="pageNum textColor01">03/<span class="textColor03">01</span></p> -->
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Current Artists</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->
        
        <div class="row">
            <div class="sixteen columns">



                <h3 class="textColor01">BECKY ROBINSON-LEVITON  (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/becky.jpg" />
                    grew up in Corona, CA and has been studying jazz, modern, and ballet dancing since age 4. In 2011 Becky graduated Cum Laude from California State University, Long Beach with a B.A. in Dance. In her 4th year, she was accepted as an apprentice into the Nannette Brodie Dance Theatre. Becky is the recipient of the 2008 ArtsBridge Scholarship and two CSULB Dance Department Scholarships for 2007 and 2008. It was during her time at CSULB that she also took her first class in technical theater and lighting design. Becky now lives and works in San Francisco as a freelance modern dancer, theater technician, and assistant stage manager. Currently, she is a collaborating artist and performer in Kinetech, a movement+technology dance company, as well as with several other individual artists around the bay area.  <br/><br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">CHARLIE LEVIN (Visual artist)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/charlie.jpeg" />
                    creates interactive installations for art, theater, and dance. Charlie’s early installations used the viewer’s body to create images in an immersive environment of light, color and transparency. She went on to work with performing artists to create planned images in her highly visual environments, designing sets for theater and dance, and eventually co-founding the Chicago-based Local Infinities Visual Theater, using materials like dirt, wax, and electricity to tell stories about home, protection, and power. Local Infinities created 12 original works in 8 years, performing in the US, the Netherlands, and Ukraine. Charlie currently creates interactive paintings using wax on glass with arduino-controlled sensors to once again use the viewer’s movement to affect the image. <br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>    

                <h3 class="textColor01">COLIN EPSTEIN (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/colin.jpg" />
                    started dancing thanks to a computer error, starting flying thanks to his neighbors, and never looked back. Colin explores movement in all its varied forms, and spends part of his time exploring with his inspiring students of Kinetic Arts Center, Athletic Playground, and Circus of Smiles. The rest of his time is divided between dancing on the ground & in the air for Bay Area companies & choreographers including kinetech, Palanza Dance, detour dance, 13th Floor Dance Theater, and number9; and producing a yearly event (Constants & Variables) showcasing the amazing talent in the Bay Area dance and circus communities.  <br/><br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>    

                <h3 class="textColor01">DAIANE LOPES DA SILVA (Artistic Director)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/daiane.jpg" />
                    has performed with KUNST-STOFF, Labayen Dance, Mudita arts, Lisbon Dance Company, among others. Her work has been presented in Brazil, France, Holland, U.S.A and Belgium. While living in Europe, she studied at Performing Arts Research and Training Studios (P.A.R.T.S), directed by Anne Teresa the Keershmaeker at Belgium. Daiane has a B.A in Psychology from SFSU and is a member of Phi Betta Kappa honors society.                    
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">DANIEL KONHAUSER (Tech)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/daniel.jpg" />
                   San Francisco based visual artist and composer Daniel Konhauser has for several decades created works ranging from video and sound installations to music for dance. Konhauser’s work has been presented in numerous venues in the U.S. including Krowswork, the ZERO1 Festival, CounterPULSE, and The LAB in the San Francisco Bay Area, and Joyce SoHo in New York City. Konhauser received his BFA in Film from the San Francisco Art Institute. He is currently experimenting with small LCD displays embedded in interactive sculptures.        
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">IRENE HSIAO (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/irene.jpg" />
                     has appeared with Kinetech, Winifred Haun & Dancers, Labayen Dance/SF, Opera Cabal, and various projects on three continents. She doesn't understand San Francisco's obsession with baseball at all.  <br/><br/><br/><br/>               
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">JAQUELINE BACICH-PARRATT</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/jaque.jpg" />
                      is a Design Director with 12+ years of design experience and has held senior Design Director positions at GQ and Vanity Fair. Prior to that, Jaqueline has worked at agencies such as Ryan Partnership and BBH. Her design experience includes all aspects of marketing/typography communications. She loves jazz and supports young musicians and feels it’s very important to empower all people, and she works closely with the homeless community of North Beach.   <br/>              
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>


                <h3 class="textColor01">JEAN TARANTINO  (Multimedia artist)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/jean.png" />
                    Jean Tarantino is a multimedia artist. She makes electro-acoustic performance experiments that explore the ways that we collaborate to create reality through exchange of information and shared experience. Jean graduated in design from UC Berkeley and studied art at CCAC. She has performed at ArtPad Art Fair and Shoshana Wayne Gallery and has been included in exhibitions at Intersection for the Arts and Southern Exposure Gallery. Jean has work in the collections of the Museum of Fine Arts, Boston and Intersection for the Arts.                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>


                <h3 class="textColor01">KATHERINE DISENHOF (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/katherine.jpg" />
                    is a Bay Area-based dance artist and arts administrator. She graduated from Stanford University in 2012 with a B.A. in Human Biology and received the Louis Sudler Prize in the Performing and Creative Arts. She currently works at Alonzo King LINES Ballet, and is both a dancer and Co-Executive Director at Inside Out Contemporary Ballet.    <br/><br/><br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">LOUIS M. BRILL</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/louis.jpg" />
                    in various incarnations has defied gravity, bent reality and of late, has conjured up the likes of a dimensional gateway to a world of light never seen before. As for leaping about, Brill was in his collage years, a gymnast and a tumbler who learned the trick of defying gravity for the brief moments that he could. From gymnastics, he became a counter-culture addict and pursued a frolicking path of urban adventurism with the likes of The Suicide Club, The Cacophony Society and his desert adventures at Burning Man. His day job is as a journalist writing about digital signage, architecture, public art, and any other wild things that strike his fancy. <br />

                    At night, Brill really shines as an artist working with light as a sculptural medium. "There is a magical quality to sculptured light," and Brill's discovery of that special illumination has become his paintbrush of creating spectacular lightscapes as playgrounds of the mind, and one day, a space to dance in.     <a href="http://sacreddestinations-journeys.com/lumia_art_gallery.html">Lumia Vista Art Gallery</a><br/><br/><br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">PACO GOMES (Advisor)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/paco.jpg" />
                    Paco Gomes fuses western modern dance with his deeply entrenched Brazilian roots to create multi-cultural, multi-faceted dance. Life and art are inextricably tied, as Paco straddles two cultures, uniquely expressing his diverse experiences through dance.   <br/><br/><br/><br/>                
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">PRISCILLA PARK</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/priscilla.jpg" />
                    is a dance artist, who after 5 years of stepping away from dance, is especially excited to step back in with the AmaZing illustrious KINETECH explorers.  She has danced her way into UC Irvine, then out a couple of years later, with a MFA in Dance.  She has had the pleasure of working/performing with Sue Li-Jue/FEDM, Krissy Keifer/Dance Brigade, Labayan Dance/SF, Keith Hennessey (Guerilla performances, SF), Popcorn Anti-Theatre, Stephanie Nelson (“The Fires,” NYC), Nancy Meehan (NYC), Natasha Trifan (“Beyond the DMZ,” NYC), Amanda Selwyn/Notes in Motion (NYC), Rita Vihena (Baila Louca, Rotterdam), Lisa Wong/Desert Dance Theatre (AZ), Lara Kugelmann (Berlin), Christoph Winkler (Berlin), and Ambra Pittoni (Boutique de danse, Berlin).   She works as a physical therapist and volunteers for ODC (Healthy Dancers’ Clinic, ODC Dance Company).    <br/>                
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">QINMIN LIU (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/qinmin.jpg" />
                     is an interdisciplinary artist from China. She graduated from San Francisco State University with a BFA in Dance and performance. She studied with KT Nelson, Shen Wei, Ohad Naharin, Vanessa Voskuil, and many international artists. Her passion is creating art. She believes that art is a communicable language that is more direct than words because it speaks right to the human emotions. There is no limitation in any artistic expression. Dance is her tool to express her feelings and views of the world. Her goal is to discover and develop dance with a fresh artistic impact and a sense of humor. Currently, She is the artistic director of Qinmin Arts, and focuses on performing art and her own art exhibition. She has been dancing with Kinetech since 2014.<br/>                
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">RAYMOND LARRETT  (Dramator, Visual Artist)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/raymond.jpg" />
                    is an illustrator, cartoonist, graphic artist, raconteur, and lately designer and publisher of digital books, magazines, and apps. Find out more at PuzzledSquirrel.com, and Thunkism.com.  <br/><br/><br/><br/>  <br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">ROBERT EDGAR  (Digital Visual Artist)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/robert.jpg" />
                    creates and employs software engines to examine mediated artifacts forged at his zone of proximal development. Robert’s computer-based art engines include Simultaneous Opposites (2008 – present), The Duchamp Examinations (2006), Memory Theatre Two (2003), Sand, or How Computers Imagine Truth in Cinema (1994), Living Cinema (1988), and Memory Theatre One (1985). Robert holds an MFA from Syracuse University’s College of Visual and Performing Arts. He grew up in Cocoa Beach, Florida during the birth of the NASA Space Program (1958-1970). Robert is an Instructional Designer at Stanford University. <br/>          
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">ROBIN EDGAR  (Visual Artist)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/robin.jpg" />
                    is a Bay Area illustrator and comic artist. Published projects include his short graphic story, The City, as well as character and environment design and production for the iOS gameTorn Shot. <a href="http://www.robinsonedgar.com">http://www.robinsonedgar.com</a>
                    <br/><br/> <br/><br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">TRAVIS BENNETT</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/travis.jpg" />
                    is a Bay Area Artist and Technologist. When not coding the web, he's exploring new hardware, hacking computer interfaces, and producing music.
                    <br/><br/> <br/><br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">WEIDONG YANG (Tech, Director, Mover)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/weidong.jpg" />
                    has indulged in the fields of science (Ph.D in Physics and MCS Computer Science, 11 US patents, 20+ peer reviewed publications), dance, photography, and Taiji. Having grown up in China and received high education in US, he has experienced two drastically different cultures. Kinetech demands him to tap into all these past experiences. Weidong envisions Kinetech to be a place for synergy of art and technology, as well as for people with vast different background and training, working together creatively, making beauty that is beyond what’s possible by a single person. Aside from Kinetech, Weidong also enjoys his work as data scientist.
                </p>
                <div class="horizontalDottedLine"></div>
                </div></div>  

                <br />
                <br />




        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Artists</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->

                <h3 class="textColor01">AMANDA BARBIERI (Marketing)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/amanda.jpg" />
                    is an expert in marketing strategy, social media promotion, and visual advertisement design. She is highly motivated, creative, dedicated, and committed towards progressive action. Amanda favors marketing due to her love for, interest in, and background in: design, research, persuasive writing, psychology, social media, and promotion. Please feel free to visit her website at www.amandabarbieri.com to learn more.  <br/><br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">ANASTASIA KOSTNER (Guest+Virtual Dancer, Amsterdam)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/anastasia.jpg" />
                    started to discover her passion for dance with young age. She completed two Bachelor Studies of Arts in Linz, one in Contemporary Dance Performance and the other one in Movement Research. In the following year she completed a Diploma at Laban Trinity University in London, where she danced in two short pieces, which were both nominated for the ‘Michelle Simone Prize’. Next to pursuing a Master of Arts at the Hochschule für Musik und Darstellende Kunst in Frankfurt am Main, she was building her career mainly as a dancer. She worked internationally with choreographers, such as Jonathan Burrows (UK), Les Gents d'Uterpan (FR), Thierry De Mey (BE), Roberto Castello (IT), Minke Elisa Brands (NL) and Martina Marini, whose piece won a prize at the Danz’é - Oriente Occidente Festival 2013 in Rovereto (IT). The love for interdisciplinary art brought Anastasia to multiple collaborations with musicians and visual artists.  <br/><br/>                 
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>



                <h3 class="textColor01">ALI WEEKS  (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/ali.jpg" />
                    moved to the Bay Area in October 2011 from the Midwest. Since stepping into her first dance class at age 3, Ali has continued to study ballet, contemporary, and modern extensively. While earning a BS in dance from the University of Wisconsin-Madison, Ali had the opportunity to study and perform in El Salvador, Brazil, and Taipei, Taiwan. In San Francisco, Ali has performed with Alma Esperanza Cunningham and Kristin Damrow & Company. She is thrilled to be working with all of the diversely talented members of the Kinetech team.                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>


                <h3 class="textColor01">ARVEJON JONES (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/aj.jpg" />
                    was raised in Compton, California. His mother encouraged him to dance, hoping it would help with his weight and health issues as a child. He later went to attend San Francisco State University, where he took his first ballet class. He soon decided to double major in Dance and Japanese. Since, AJ has apprenticed and toured with ODC Dance, is an artist with Copious Dance Theater, and a guest artist with PUSH dance company. He is also a Zumba instructor at the Federal Court House.                   
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">CERE DAVIS (Tech)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/cere.jpg" />
                    has worked and lived in Alaska, Washington and the South Pole before recently moving to the Bay Area.  She is pleased to find many collaborative art/science/technology projects in which to contribute. With a background in Physics, she now works as a systems engineer in Berkeley by day and enjoys many African dance traditions for recreation during her free time.  <br/><br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>    

                <h3 class="textColor01">CLARE SCHWEITZER (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/clare.jpg" />
                    A native of the San Francisco Bay Area, Clare received her early training in ballet, performing in more Nutcrackers than she has fingers to count with. She continued her dance training at Mount Holyoke College, where she graduated in 2012 with a B.A. in Dance and Mathematics cum laude with high honors. While there she had the opportunity to perform repertory by Doris Humphrey, Kinsun Chan, Jim Coleman and Terese Freedman. Since moving back to the Bay Area, she has has performed with groups such as the Samantha Giron Dance Project and Sarah Berges Dance. She also enjoys working behind the scenes of Bay Area dance as an administrative assistant for Bandaloop as well as a programming assistant for the San Francisco Dance Film Festival. In addition to this, she tutors mathematics among other subjects and still entertains the prospect of being a sabermetrician (baseball statistician). She is excited and grateful for the opportunity to be working with Kinetech <br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>    


                <h3 class="textColor01">JESSE ZBIKOWSKI (Tech)</h3>
                <p class="defaultText textColor01">
                    <!-- <img class="imageLeft" src="pages/artists_images/article1.jpg" /> -->
                     was born in Massachusetts in the year of the dragon. He learned computer programming by typing random numbers into a Commodore 64 until he figured out how to animate an ASCII decapitation scene. In 2007 he began collaborating with San Francisco-based Flaming Lotus Girls, developing interactive control systems for large-scale machine art projects Orb SWARM, Soma, and Angel of the Apocalypse.  His kinetic sculpture "12 Inch Pianist" won the "Hardest Partying Robot" award at Monochrom's Roboexotica exhibition in Vienna.
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">KARLA JOHANNA QUINTERO (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/karla.jpg" />
                    has performed in works by RAWDance, Leyya Tawil (Dance Elixir), Daiane Lopes da Silva, Alma Esperanza Cunningham, Deborah Karp, Daria Kaufman and Aura Fischbeck. In 2013, she was an artist-in-residence at the Temescal Art Center and a finalist for SF Weekly's Masterminds prize for emerging artists.  <br/><br/><br/>                   
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">LAURA BERNASCONI (Guest Choreographer, Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/laura.jpg" />
                       is rehearsal director, founding member and performer of Labayen Dance/SF and an international guest teacher for Nederlans Dans Theater, Dutch National Ballet, Scapino Ballet, the Henny Jurriens Foundation, La La La Human Steps, Alonzo King's LINES Ballet, ODC Dance, Smuin Ballet/SF, the Austrialian Dance Theater, and for Carte Blanche, the National Contemporary Company of Norway. As a certified Sivananda Yoga and Acro Yoga Teacher, Shi'atsu Massage Therapist, Wellnes Instructor and practitioner of the Alexander Technique, Gyrotonic©, Thai Chi and Thai Massage, Laura fuses the healing and performing arts to raise funds in Amsterdam and SF for such organizations as Mama Cash, the Africa Yoga Project and the Ama-Foundation through her Healing Arts Celebration- a gathering of artists of movement, music, nutritional foods, touch and aroma therapies.                   
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">MARISSA KATARINA BERGMANN (Performer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/marissa.jpg" />
                    is a visual artist, performer, and musician, newly relocated to the Bay Area from Southern California. A graduate from Duke University, she is currently working toward her MFA in Interdisciplinary Fine Arts at California College of the Arts. She is passionate about collaboration and the fusion of visual art, dance, technology, music, and live performance. She has directed two of her own performative installations in the past and is currently working with Brenda Wong Aoki, Mark Izu, and Kimi Okada on the upcoming world premiere of MU. 4SEE is her first performance in San Francisco.
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">MARK MCBETH (Photography and Film)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/mark.jpg" />
                    documents contemporary Bay Area alternative dance, theater and performance through photography and video.  He interviews local makers about their processes and intentions and collaborates with them to produce promotional materials, work samples for grants and media content for performances.  His background in the ethics and principles of Permaculture Design, Non-Violent Communication and Community Mediation informs his role as “performance ethnographer”.  Some current work can be seen at markmcbethprojects.com.
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">KEON SAGHARI (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/keon.jpg" />
                    was born in Los Gatos California and trained mostly with Ballet San Jose School. She graduated Summa Cum Laude with honors from LINES Ballet BFA/Dominican University of California in 2012. She has performed professionally with Ballet San Jose Company, Cornish Dance Theater, Laura Bernasconi's Mudita Arts for Peace and Enrico Labayen's Labayen Dance/SF. She has also performed works by Robert Battle, Amanda K. Miller, Christian Burns, Tomi Passonen, Gregory Dawson, Kara Davis, Maurya Kerr, Keelan Whitmore and Diane Lopes da Silva.                   
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>

                <h3 class="textColor01">NITPAT (ONG) PHOLCHAI (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/ong.jpg" />
                    was born and raised in Bangkok, Thailand. He holds a B.A. in Physics from Harvard University and a PhD in Applied Science and Technology from UC Berkeley. He started dancing in graduate school and feels honored to have worked with Randee Paufve, Kim Epifano, ZiRu Productions, Weidong Yang, Danse Lumiere, Rachael Lincoln, Project Bandaloop, Palanza Dance, Karl Frost and Lizz Roman in the SF Bay area. <br/><br/>                  
                </p>
                <div class="horizontalDottedLine"></div>
                <br/>


         <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">FLORIAN HOENIG (Tech)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/florian.jpg" />
                    
                </p>
            </div> 
        </div>
        <div class="row"><div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
        </div></div>  

        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">MARC FAWZI (Tech)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/marc.jpg" />
                    
                </p>
            </div> 
        </div>
        <div class="row"><div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
        </div></div>  

        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">NATALIE MARSH (Dancer)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/natalie.jpg" />
                    is a contemporary dancer, choreographer, writer and educator from the Bay Area. Since graduating from UC Berkeley with degrees in Dance and Performance Studies and Peace and Conflict Studies she has danced with Andrea Mock Dance Company, Claire Schweitzer, Kinetech and The Defiance Project. Her choreography has shown at LEVY dance’s The Salon, Right Brain Performance Lab’s Due West Salon, Kunst-stoff, and Zellerbach 170. Natalie teaches at several Bay Area studios and writes for danceanywhere.org.
                </p>
            </div> 
        </div>
        <div class="row"><div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
        </div></div>  


        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">SACHIN DESHPANDE (Tech)</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/artists_images/sachin.jpg" />
                    sees an untapped potential in the convergence of art and technology and is passionately interested in bringing these two forms together. He started dreaming about this along with Weidong since the time they were together with on a common project many years ago. He believes Kinetech is the medium to bring this to fruition. He has a Masters in Computer Science from the University of Denver. During the day he manages a BioInformatics Research team for ThermoFisher Scientific. 
                </p>
            </div> 
        </div>
        <div class="row"><div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
        </div></div>  


    </div>
    <!--/skeleton container-->
 
    
         
</div>