<div class="genericSection section-BLOG">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_blogposts.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <p class="pageNum textColor01">04/<span class="textColor03">01</span></p>
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <img class="brand" src="images/logo.gif" alt="logo" />
            </div>
        </div>
        <!--/Website logo-->

        
        <div class="row">
            
            <!--left column-->
            <div class="ten columns">
                
                <!--Blog article-->
                <h2 class="blogTitle textColor01">Create<span class="textColor02"> //  Responsive design.</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="verticalSpaceSmall"></div>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta. 
                    Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem. 
                    Quisque sed nibh dui, id volutpat odio. Etiam viverra vehicula venenatis. 
                    Aenean aliquet malesuada dolor et luctus. Nullam laoreet sagittis sem, id dictum justo aliquet a. 
                    Suspendisse sapien leo, interdum ut dictum Lorem ipsum dolor sit amet, consectetur.
                </p>
                <a class="blogReadMore" href="#!BlogPost.html">Read more...</a>                
                
                <!--horizontal dotted line-->
                <div class="verticalSpaceSmall"></div>
                <div class="horizontalDottedLine"></div>              
                <!--/horizontal dotted line-->
                               
                <div class="commentsSquare backgroundColor02">12</div>     
                <p class="defaultText blogCommensInfo textColor01">Comments | 28.06.2012 // by john</p>
                <div class="clear-fx"></div>                               
                <!--Blog article-->
                
                
                <!--medium spacer-->
                <div class="verticalSpacerMedium"></div>
                <!--/medium spacer-->
                
                
                
                <!--Blog article-->
                <h2 class="blogTitle textColor01">Web design<span class="textColor02"> //  The right way.</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="verticalSpaceSmall"></div>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/blog_images/inside_article1.jpg" alt="" />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta. 
                    Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem. 
                    Quisque sed nibh dui, id volutpat odio. Etiam viverra vehicula venenatis. 
                    Aenean aliquet malesuada dolor et luctus. Nullam laoreet sagittis sem, id dictum justo aliquet a. 
                    Suspendisse sapien leo, interdum ut dictum Lorem ipsum dolor sit amet, consectetur.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta. 
                    Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem. 
                    Quisque sed nibh dui, id volutpat odio. Etiam viverra vehicula venenatis. 
                    Aenean aliquet malesuada dolor et luctus. Nullam laoreet sagittis sem, id dictum justo aliquet a. 
                    Suspendisse sapien leo, interdum ut dictum Lorem ipsum dolor sit amet, consectetur.                    
                </p>
                <a class="blogReadMore" href="#!BlogPost.html">Read more...</a>                
                
                <!--horizontal dotted line-->
                <div class="verticalSpaceSmall"></div>
                <div class="horizontalDottedLine"></div>              
                <!--/horizontal dotted line-->
                               
                <div class="commentsSquare backgroundColor02">23</div>     
                <p class="defaultText blogCommensInfo textColor01">Comments | 28.06.2012 // by john</p>
                <div class="clear-fx"></div>                               
                <!--Blog article--> 
                
                
                
                <!--medium spacer-->
                <div class="verticalSpacerMedium"></div>
                <!--/medium spacer-->                
                
                
                
                <!--Blog article-->
                <h2 class="blogTitle textColor01">HTML 5<span class="textColor02"> //  Drag and drop.</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="verticalSpaceSmall"></div>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta. 
                    Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem. 
                    Quisque sed nibh dui, id volutpat odio. Etiam viverra vehicula venenatis. 
                    Aenean aliquet malesuada dolor et luctus. Nullam laoreet sagittis sem, id dictum justo aliquet a. 
                    Suspendisse sapien leo, interdum ut dictum Lorem ipsum dolor sit amet, consectetur.
                </p>
                <a class="blogReadMore" href="#!BlogPost.html">Read more...</a>                
                
                <!--horizontal dotted line-->
                <div class="verticalSpaceSmall"></div>
                <div class="horizontalDottedLine"></div>              
                <!--/horizontal dotted line-->
                               
                <div class="commentsSquare backgroundColor02">12</div>     
                <p class="defaultText blogCommensInfo textColor01">Comments | 28.06.2012 // by john</p>
                <div class="clear-fx"></div>                               
                <!--Blog article-->                
                
                
                               
                
            </div>
            <!--/left column-->
            
            
            
            <!--right column-->
            <div class="five columns offset-by-one">
                
                <!--recent posts-->
                <div class="blogRightBox">
                    <div class="isotopeHeaderText backgroundColor02">
                        <p class="textColor01">Recent articles</p>
                    </div>
                    <!--recent article-->
                    <img class="imageLeft" src="pages/blog_images/recent_article.jpg" alt="" />
                    <p class="recentArticleTitle textColor01">Article header</p>
                    <p class="defaultText textColor01">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta  Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem.
                        <a href="#!BlogPost.html">Read more...</a> 
                    </p>                                                       
                    <div class="verticalSpaceTiny"></div>                                   
                    <div class="commentsSquare backgroundColor02">12</div>     
                    <p class="defaultText blogCommensInfo textColor01">Comments | 28.06.2012</p>
                    <div class="clear-fx"></div>
                    <!--/recent article-->
                    
                    <!--article spacing-->
                    <div class="verticalSpaceSmall"></div>
                    <div class="horizontalDottedLine"></div>
                    <div class="verticalSpaceSmall"></div>
                    <!--/article spacing-->
                    
                    <!--recent article-->
                    <img class="imageLeft" src="pages/blog_images/recent_article.jpg" alt="" />
                    <p class="recentArticleTitle textColor01">Article header</p>
                    <p class="defaultText textColor01">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing facilisis porta  Morbi quis lacus sit amet ligula laoreet bibendum. Cras vitae nisl orci, quis vestibulum lorem.
                        <a href="#!BlogPost.html">Read more...</a> 
                    </p>                                                       
                    <div class="verticalSpaceTiny"></div>                                   
                    <div class="commentsSquare backgroundColor02">12</div>     
                    <p class="defaultText blogCommensInfo textColor01">Comments | 28.06.2012</p>
                    <div class="clear-fx"></div>
                    <!--/recent article-->                     
                                         
                </div>                        
                <!--recent posts-->
                

                <div class="verticalSpaceBoxes"></div>
                
                
                <!--tag cloud-->
                <div class="blogRightBox">
                    <div class="isotopeHeaderText backgroundColor02">
                        <p class="textColor01">Tag cloud</p>
                    </div>                    
                         <div id="tagcloud">
                              <a href="#" rel="7">unique</a>
                              <a href="#" rel="3">design</a>
                              <a href="#" rel="10">JavaScript</a>
                              <a href="#" rel="5">NodeJS</a>
                              <a href="#" rel="4">minimal</a>
                              <a href="#" rel="7">unique</a>
                              <a href="#" rel="3">design</a>
                              <a href="#" rel="10">Creative</a>
                              <a href="#" rel="5">NodeJS</a>
                              <a href="#" rel="4">lightbox</a>
                              <a href="#" rel="7">custom</a>
                              <a href="#" rel="3">design</a>
                              <a href="#" rel="10">Graphics</a>
                              <a href="#" rel="5">NodeJS</a>
                              <a href="#" rel="4">lightbox</a>                                                            
                         </div>                                                                              
                </div>                        
                <!--tag cloud-->               
                
                
                <div class="verticalSpaceBoxes"></div>
                
                
                <!--rss feed-->
                <div class="blogRightBox">
                    <div class="isotopeHeaderText backgroundColor02">
                        <p class="textColor01">RSS feed</p>
                    </div>
                    
                    <!--feed-->
                    <p class="defaultText textColor01"><span class="rssTitle">Rss Feed Title</span> // Lorem ipsum dolor sit amet, consectetuer sed nun adipiscing elit.
                    <a href="http://themeforest.net/user/SakuraPixel" target="_blank">Read more...</a></p>
                    <!--/feed-->
                    <div class="verticalSpaceSmall"></div>
                    <!--feed-->
                    <p class="defaultText textColor01"><span class="rssTitle">Rss Feed Title</span> // Lorem ipsum dolor sit amet, consectetuer sed nun adipiscing elit.
                    <a href="http://themeforest.net/user/SakuraPixel" target="_blank">Read more...</a></p>
                    <!--/feed-->
                    <div class="verticalSpaceSmall"></div>
                    <!--feed-->
                    <p class="defaultText textColor01"><span class="rssTitle">Rss Feed Title</span> // Lorem ipsum dolor sit amet, consectetuer sed nun adipiscing elit.
                    <a href="http://themeforest.net/user/SakuraPixel" target="_blank">Read more...</a></p>
                    <!--/feed-->                                       
                                         
                </div>                        
                <!--/rss feed-->               
                
                                                        
                                                               
            </div>
            <!--/right column-->            
            
            
        </div>
    </div>
    <!--/skeleton container-->
 
    
         
</div>