<div class="genericSection section-BLOG">
        
    <!--add here url for this section background image-->
     <img class="sectionBackgroundImage" src="pages/backgrounds/background_tb.jpg" />
    <!--/section background image-->
    

    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <img class="brand" src="images/logo.gif" alt="logo" />
            </div>
        </div>
        <!--/Website logo-->

             <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="verticalSpaceSmall"></div>
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Kinetech Arts<span class="textColor02"> //  calendar and mailing list</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2--> 


        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                    <center><p class="defaultText textColor01">
                    Sign up <br /><a href="http://eepurl.com/MCC6P">Kinetech Arts event mailing list</a></p>
                    <br /></center>
                </p>
               <!--  <p><a href="#!igallery.html" class="genericButton pullRight">Play</a></p> -->
            </div>         
        </div>
        <center>
    


        <!--/full width text--> 
        <!-- Responsive iFrame -->
            <div class="responsive-iframe-container">
            <iframe src="https://www.google.com/calendar/embed?src=vcnn3ek118gtkd79orfchsl7k4%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </center>
    </div></div>
    <!--/skeleton container-->
            
         
</div>