<div class="genericSection section-CONTACT">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <!-- <p class="pageNum textColor01">06/<span class="textColor03">01</span></p> -->
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02">1</div>
                <h2 class="textColor01">Email:</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="addressContainer">
                          <!-- <p><a class="phoneBig textColor01" href="tel:+40123456789">012 345 6789</a></p> -->
                          <p><a href="mailto:wdyang@gmail.com">wdyang@gmail.com</a></p>
                </div>
            </div>
        </div>
        <!--/Section title H2-->
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02">2</div>
                <h2 class="textColor01">Open Lab Location:</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="addressContainer">
                          <!-- <p><a class="phoneBig textColor01" href="tel:+40123456789">012 345 6789</a></p> -->
                          <p class="defaultText textColor01">
                          KUNST-STOFF arts, UNDERGROUND<br />
                          1 Grove St, 2nd Floor, San Francisco, CA 94102</p>                    
                </div>
            </div>
        </div>
        <!--/Section title H2-->


        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02">3</div>
                <h2 class="textColor01">Subscribe to Kinetech mailing list:</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://taijilab.us6.list-manage.com/subscribe/post?u=061edcbcfe985b1fd3fcec1fc&amp;id=8e08b37049" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  We will only send occasional event information on this list. Email addresses will not be shared with others
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group input-group">
    <strong>Email Format </strong>
    <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
<li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
</ul>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_061edcbcfe985b1fd3fcec1fc_8e08b37049" value=""></div>
  <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
            </div>
        </div>
        <!--/Section title H2-->


        <!--vertical spacer-->
        <div class="verticalSpacerMedium"></div>
        <!--/vertical spacer-->
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02">3</div>
                <h2 class="textColor01">Leave a message:<span class="textColor02"></span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <div class="formContainer">
                      <form class="contactForm form-horizontal">
                          <div class="formGroup">
                              <div id="name" class="inputField control-group">
                                <input type="text" class="input-small" placeholder="Name" />
                              </div>
                              <div id="website" class="inputField control-group">
                                <input type="text" class="input-small" placeholder="Website" />
                              </div>
                              <div id="email" class="inputField control-group">
                                <input type="text" class="input-small" placeholder="Email" />
                              </div> 
                              <div id="phone" class="inputField control-group">
                                <input type="text" class="input-small" placeholder="Phone No" />
                              </div>
                              <p class="formThankYou">Thank you! Your message has been sent.</p>                                                                                                                                                                            
                          </div>
                          <div class="formGroup">
                              <div id="message" class="inputTextArea control-group">
                                <textarea id="txt" class="commentTextArea field" rows="6" placeholder="Type your message here..."></textarea>
                              </div>
                          </div>
                          <div class="formGroup">
                              <button id="sendBTN" type="submit" class="genericButton">Send</button>
                              <div class="clear-fx"></div>                               
                          </div>                                                                                                          
                                                    
                          <div class="clear-fx"></div>                          
                      </form>                
                </div>                
                
            </div>
        </div>
        <!--/Section title H2-->
        
        
        <!--vertical spacer-->
        <div class="verticalSpacerMedium"></div>
        <!--/vertical spacer-->                
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02">4</div>
                <h2 class="textColor01">Map</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
                
                <!--full width map-->
                <div class="mapContainer">
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=san+fra&amp;sll=45.843342,24.977871&amp;sspn=0.06876,0.181789&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=San+Francisco,+California&amp;ll=37.77493,-122.419416&amp;spn=0.004876,0.011362&amp;z=14&amp;output=embed"></iframe>
                </div>                
            </div>
        </div>
        <!--/Section title H2-->
                              


    </div>
    <!--/skeleton container-->
 
    
         
</div>