<div class="genericSection section-SINGLE_PROJECT">

    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->

    <!--add here page number-->
    <!-- <p class="pageNum textColor01">03/<span class="textColor03">01</span></p> -->
    <!--/add here page number-->

    <!--skeleton container-->
    <div class="container">

        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->


        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Upcoming</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->




                <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Kinetech Arts Presents - A Special Evening of Insploitational Slogans and Self-Helpfulness from the #1 Bestselling Author for 2015 and World’s Sanest Man™ Raymond Larrett!</h3>

                <p class="defaultText textColor01">WHEN: Tuesday August 26</p>
                

                <p class="defaultText textColor01">WHERE: KUNST-STOFF Arts, 1 Grove Street, San Francisco</p>

                <h2>TICKETS:<a href="https://www.eventbrite.com/e/help-me-help-you-help-yourself-tickets-12591195605?aff=es2#" target="blank" > FREE at Eventbrite</a></p>


                <h2><em>Don’t be brainwashed by others, let Raymond Larrett teach you to brainwash yourself!</h2>


                <p class="defaultText textColor01">Artist, Publisher… and now Self-Certified Slogan Coach and Inspiration Concierge™ Raymond Larrett is here to HELP! Help you HELP YOURSELF, that is! However, before he can work MIRACLES for YOU he needs YOUR HELP! SIMPLY GRANT him permission to ORDER you to BUY the TOOLS that will EMPOWERIFY you to mold yourself into the HUMAN DYNAMO you’ve always dreamed of BEING!  It’s just THAT SIMPLE! Make the first SMART choice of your ENTIRE LIFE! Take the first step to your GLORIOUS FUTURE! Don’t let this once-in-a-nighttime opportunity PASS YOU BY!

             </div>         
        </div>
        <div class="row">
                 <div class="sixteen columns">
                    <iframe src="//player.vimeo.com/video/103670707" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/103670707">Kinetech Arts Presents "Help Me Help You Help Yourself" by Raymond Larrett</a> from <a href="http://vimeo.com/user1350680">Raymond Larrett</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</p>
</div>         
        </div>
        <div class="row">
                 <div class="sixteen columns">

                <p class="defaultText textColor01">This event is the first in a monthly series of special Kinetech Arts presentations, spotlighting an artist associated with the group. Kinetech Arts also holds a weekly lab and forum at KUNST-STOFF Arts open to all interested participants to explore and develop connections among technology, dance, and visual art. </p>

                                   
               
            </div>         
        </div>
        <!--/full width text-->
        
        <div class="row"><div class="sixteen columns">
                <h2 class="textColor01">Kinetech Arts<span class="textColor02"> //  at Milk Bar 08/08</span></h2>
                <p class="defaultText textColor01">
                   
                KINETECH ARTS is performing at the Summer <a href="http://www.milkbar.org/" target="new" >Milkbar Salon</a>, Friday August 8th, starting at 8:30. Find out more <a href="http://www.flashedition.com//display_article.php?id=1770668&id_issue=219076" target="new" >here.</p>
                <p>&nbsp;</p><p>&nbsp;</p></div>
       
        </div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h2 class="textColor01">IMAGINATION WATER CHANGE<span class="textColor02"> //  sound installation by Jean Tarantino</span></h2>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/events_images/wearewater.gif" alt="" />
                KINETECH ARTS participates in IMAGINATION WATER CHANGE, a sound installation by Jean Tarantino opening at Alter Space Gallery at 7pm on July 26th. Weidong Yang of KINETECH developed the interactive aspect of the installation. The installation is up through August 30th when there will be a closing night party (full info below). Stop by and have a listen.</p>
                <p>&nbsp;</p><p>&nbsp;</p></div>
        <div class="row"><div class="sixteen columns">
               <h3 class="textColor01">Water World: Exhibition Opening Night at Alter Space July 26</h3>
               <p class="defaultText textColor01">VIP reception + fundraiser with open bar & artist conversations<br />
                $25-100 sliding scale<br />
                Time: 6:00-7:00pm Infoline: 415.484.6278<br />
                Location: Alter Space <a href = "https://www.google.com/maps/place/1158+Howard+St,+San+Francisco,+CA+94103/@37.777146,-122.41086,17z/data=!3m1!4b1!4m2!3m1!1s0x808580831d8e43ef:0x8685ee408e006ae8" target="blank" > 1158 Howard St, San Francisco</a><br />
                FREE admission: 7:00-10:00 pm<br />
                For additional information for all festival events, please go to <a href="http://www.soundwavesf.com/6/july26/" target="blank" >soundwavesf.com</a>
                
                </p>
        </div>
        <!--/full width text-->


        <!--ei-slider container
        <div class="row">
            <div class="sixteen columns">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="pages/events_images/4see04.jpg" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        /ei-slider container-->




        <!--horizontal dotted line-->
        <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>
        </div>
        <!--/horizontal dotted line-->

        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Past Events</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">July 19, 20,  2014, The Other Sight, ODC Theater, SF</h3>
                <p class="defaultText textColor01">
                </p>
        </div></div>
        <!--/full width text-->

        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">July 7, 2014, Tech Talk at Geekdom SF of Rackspace</h3>
                <p class="defaultText textColor01">
                A discussion and presentation of Dance, Data and Interactive Technologies.<br />
                </p>
        </div></div>

        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">June 6, 7, 2014, The first LAST Festival, ZERO1 Garage, 439 1st St. San Jose</h3>
                <p class="defaultText textColor01">
                Kinetech Arts will present Time Bubble installation and perform Fiat Flux at the <a href="http://last.somethingspacious.com/">first LAST Festival</a> in ZERO1 Garage, San Jose.<br />
                </p>
        </div></div>

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">May 31, 2014, 10am-9pm, Code+Dance+Hack Day @ Codame, the Doll House, 80 Turk, SF.</h3>
                <p class="defaultText textColor01">
                Code, dance and hack with Kinetch Arts, other Bay Area Tech-artists and Dancers with a presentation showcase in the evening emceed by New Eccentrics.In the Bay Area today, art is making way for Tech. This hack day looks to bring tech back to the artist by expanding the tools available to artists to capture and transform movement. This is non-profit event of artists and technologists in the bay shaping the future of what online interaction could be. This hackathon provides a playful exploratory environment to redefine what can constitute art and performance in our new virtual world. We are looking for the artists of tomorrow! <br />
                <a href="http://kine-tech.org/codedancehackday/">Hack day info</a><br />
                <a href="http://www.codame.com/post/portfolio/codedancehack-at-the-codame-playground/">Event page @ Codame</a>
                </p>
                <center><img src="codedancehackday/images/banner.jpg"></center>
        </div></div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">July 19, 20,  2014, ODC Theater, SF</h3>
                <p class="defaultText textColor01">
                </p>
        </div></div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">May 23, 2014, The Other Sight, KUNST-STOFF arts, SF</h3>
                <p class="defaultText textColor01">
                Show starts at 8m. Tickets at the door.
                </p>
        </div></div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">May 10rd 2014, Cellspace, SF</h3>
                <p class="defaultText textColor01">
                <a href="https://www.facebook.com/events/639357152786015/?ref=22">Bay Area Visuals extrA/Vaganza<br />

                </p>
        </div></div>
        <!--/full width text-->


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">May 3rd 2014, Shared, SF</h3>
                <p class="defaultText textColor01">
                <a href="https://www.facebook.com/events/484012118377477/">Black Celebration</a>, a fund raising event for SPF7.<br />
                9pm-late, May 3rd @ SHARED, 739 Bryant Street, San Francisco, California 94107
                </p>
                <center><img src="pages/events_images/shared_2.jpg"></center>
        </div></div>
        <!--/full width text-->


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">March 21, 22,  2014, Kinetech Arts/1.0 First Anniversary, KUNST-STOFF arts SF</h3>
                <p class="defaultText textColor01">
                Kinetech Arts is turning one, and we’re throwing a party! Join us in celebrating our first year of open labs, installations, and performances March 21-22 at KUNST-STOFF arts with salsa lessons, martial arts demonstrations, play time with our newest technology, a visual and digital art exhibit, and a sneak peek at our latest developments-in-progress, to be premiered in full at ODC Theater this July. Special guests include  Anastasia Kostner, Andy Mogg, Daniel Konhauser, Enrique (Kike) Quintero, Ian Winter, Jasper Patterson, Jonathan Wallraven, Jose Miranda, Mambo Grovin' Latin Dance, Maarten van der Glas, Robert Edgar, Tianne Frias.<br />
               <!--  <a href="https://www.eventbrite.com/e/kinetech-arts10-first-anniversary-tickets-10799773413?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=10799773413" alt="Eventbrite - Kinetech Arts/1.0 First Anniversary" /></a> -->
                </p>
                <center><img src="pages/events_images/IMG_3509.jpg"></center>
        </div></div>
        <!--/full width text-->


        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">March 14,  2014, Central Market NOW! CELEBRATING our stories: Dance, Photography and Visual Art</h3>
                <p class="defaultText textColor01">
                    6:30-Midnight <br />
                    KUNST-STOFF arts. 1 Grove (Market Street at 8th above Burger King)<br />
                    visual art, media and performance<br />
                    by Andy Mogg, Kike, Kinetech and project agora
                </p>
        </div></div>


         <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Feb 21,  2014 Friday, 5-8pm, Central Market Now presents ART AND TECH, KUNST-STOFF arts, SF.</h3>
                <p class="defaultText textColor01">Explore installation and Kinetech Lab. Link to <a href="https://www.facebook.com/events/633181170088038">Facebook event</a>. <br />
                Based on the sweeping success of our 2nd CMN party on January 24, 2014 Central Market Now and Kinetech Arts are inaugurating the first of a cycle of four events that aims to continue to grow the topical conversation and aesthetic experience at the intersection of art and technology. <br />
                Information about Central Market Now at <a href="http://centralmarketnow.org/">http://centralmarketnow.org/</a>  <br />
                </p>
        </div></div>
 
         <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Jan 24,  2014 Friday, Perform Google Map, an excerpt from 4SEE #2, Central Market NOW event at KUNST-STOFF arts, SF.</h3>
                <p class="defaultText textColor01">More information about Central Market Now at <a href="http://centralmarketnow.org/">http://centralmarketnow.org/</a><br />
                Google maps knows my location history far more complete and precise than myself. When the day comes that the cloud knows more about me than myself, I will have to ask cloud for the answer, "who am I". <br />
                Choreography by Daiane, Sound score by Jean, Visual by Robinson and Raymond, Tech by Weidong, Dancers: Becky, Colin, Irene, Qinmin, Weidong. Special thanks to Ari, Charlie, Clare and Courtney for developing the piece together. <br />
                Music credit: Lustmord, Jean Tarantino ( original score for 4SEE), Monolake, Philip Glass and Yo Yo Ma.

                </p>
        </div></div>
        <!--/full width text-->


        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Jan 13,  2014,  CounterPulse UNDERGROUND, 80 Turk St SF</h3>
                <p class="defaultText textColor01">community forum on ”DOCUMENTATION, TECHNOLOGY AND RESEARCH IN PERFORMANCE” hosted by ABC.
                    <a href="http://www.artsbuildingconsortium.org/portfolio-item/documentation-technology-and-research-in-performance-a-knowledge-share-abc-arts-building-consortium/">Link to the event</a>
                </p>
        </div></div>


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Jan 11,  2014,  Hyde Park Salons, Chicago</h3>
                <p class="defaultText textColor01">Irene Hsiao will present Star Wall in the <a href="http://www.operacabal.com/hydeparksalons">
                    Hyde Park Salon</a>. Kinetech's first out of state performance.
                </p>
        </div></div>


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Jan 7, 14, 7:30-10:00pm 2014, KUNST-STOFF arts, SF</h3>
                <p class="defaultText textColor01">Kinetech special Lab as part of <a href="https://www.facebook.com/events/241170646039665/">FRESH Festival 2014</a>. This is a very rich program with activities every day and night from Jan 3 till Jan 18. For a full program, check out <a href="http://www.artsbuildingconsortium.org/">http://www.artsbuildingconsortium.org/</a>
                </p>
        </div></div>
        <!--/full width text-->

      <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Dec 29,  2013, Project Death Valley, exploring dance and landscape at Death Valley, CA</h3>
                
                
                <center><a href="http://projectdeathvalley.wordpress.com/">
                <img src="pages/events_images/death_valley.jpg" alt="" />
                    <br />link to ProjectDeathValley project page</a></center>
                    <br />
                <p class="defaultText textColor01">
                    Dancers: Becky, Clare, Colin, Zoe.<br />
                    Photographer: Weidong.

                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->

      <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Nov 23,  2013, Speaker at "Dissident Futures Art and Ideas Festival" at YBCA, SF</h3>
                <p class="defaultText textColor01">
                    <a href="http://www.ybca.org/art-and-ideas">link to the event</a>. Session host, <a href="http://codame.com">Codame</a>.
                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->


      <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Nov 20,  2013, Speaker at DorkbotSF, SF</h3>
                <p class="defaultText textColor01">
                    <a href="http://dorkbot.org/dorkbotsf/archive/201311/">link to the event.</a> Title: Intermedia performance 1.0->2.0
                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Nov 17,  2013, the Garage, SF</h3>
                <p class="defaultText textColor01">
                    Footloose Presents, in collaboration with Kinetech and Hack Reactor: See. Sound. Move.
                <br/>

                See. Sound. Move. is an interactive performance and jam for creative play fueled by open source digital media. Dancers, musicians and sound designers will lay the groundwork for making improvised art which will be layered by computer wizards using video processing visualizations. You are invited to be in the zone by witnessing or immersing yourself with others. <br/>

                It’s a trip down the rabbit hole that gets “Curiouser and curiouser!” Alice in Wonderland by Lewis Carroll
                <br/>

                ONE NIGHT ONLY: Sunday, November 17, 2013 7-10 pm;<br/>

                The Garage, 715 Bryant Street, San Francisco, 94103<br/>

                FREE ADMISSION BUT SPACE IS LIMITED: RSVP at <a href="www.eventbrite.com/event/8961669595">www.eventbrite.com/event/8961669595</a><br/>

                For more detail of the event, follow <a href="https://www.facebook.com/events/531906233554578">https://www.facebook.com/events/531906233554578</a><br/>
                </p>


        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->



        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Nov 8, 9, 10,  2013, Guest at KUNST-STOFF's 15 Anniversary Retrospective Season, ODC Theater, SF</h3>
                <p class="defaultText textColor01">
                    <a href="http://www.kunst-stoff.org/projects/Tomi-Paasonen-and-Yannis-Adoniou-create-new-works-for-KUNST-STOFFs-15-Anniversary-Retrospective-Season"><i>link to the event</i></a>
                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Oct 29 7-10pm, Halloween Lab @ Underground, KUNST-STOFF arts</h3>
                <p class="defaultText textColor01">
                    A themed lab exploration with interactive visual and audio installation, visual art experiment, and dance/tech explorations. What's coooooking:
                    Spooky performance with Laura Bernasconi and Daiane, and, they are calling for more performers to go with them,<br/>
                    Jean Tarantino's sound installation,<br/>
                    Marissa body paint, <br/>
                    Fire on one side and water on the other, and the Jam to go with them, <br/>
                    Paco Gomes exploratory dance, <br/>
                    Royal and Erick live music, <br/>
                    Raymond has a spooky sound setup, <br/>
                    Tim Thompson's Loopy Cam, <br/>
                    Your (yes, you read it correctly, your!) crazy face in the corner.
                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->


        <!--full width text-->
        <div class="row"><div class="sixteen columns">
                <h3 class="textColor01">Nov 1, 2,  2013, Performance at Codame ART+TECH Festival 2013, GeekDom, SF</h3>
                <p class="defaultText textColor01">
                    <a href="http://codame.com/post/62309372378/codame-2013-art-tech-festival-5enses-several"><i>link to the event</i></a>
                </p>
        </div></div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->



        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Oct 12 2013, Installation at Footloose's Honeycone Zone at Contemporary Jewish Museum, SF</h3>
                <p class="defaultText textColor01">
                    Time Bubble. <a href="http://events.marinij.com/san_francisco_ca/events/show/354631703-honeycomb-zone"><i>link to the event</i></a>
                </p>
            </div>
        </div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Oct 3 2013, Installation at Codame #dataviz, GeekDom, SF</h3>
                <p class="defaultText textColor01">
                    Time Bubble, What if a wave of hand opens up a bubble and brings you back the past?
                    <br />
                    <a href="http://codame.com/post/60340678008/celebrate-data-visualization-art-tech-with-codame"><i>link to the event</i></a><br />
                    <a class="blogReadMore" href="#!projects/time_bubble.html">Read more about Time Bubble...</a>
                </p>
            </div>
        </div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->



        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">4SEE<span class="textColor02"> // September 6,7 2013, KUNST-STOFF arts</span></h2>
                <div class="clear-fx"></div>

                <noiseh3 class="textColor01">4SEE in conjunction with In The Night, a solo by Daiane Lopes da Silva</h3>
                <p class="noiseText textColor01">
                    4SEE explores the concept and practice of surveillance in contemporary society. The performance uses technologies such as cell phones and social networks, which have become an indispensible part of daily life, yet which track and record every move we make. <br /><br />

                    Does the cycle of surveillance oppress or emancipate? Do acts of surveillance separate the watcher from the watched, or are they co-conspirators in the performance of modern life?<br />
                    <a href="https://www.facebook.com/events/1404575099759249/">Link to the event</a>
                </p>

                <!--eislider-->
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="pages/events_images/4see04.jpg" alt="" />
                        </li>
                    </ul><!-- ei-slider-large -->
                </div>
                <!--eislider-->

            </div>
        </div>
        <div class="horizontalDottedLine"></div>
        <!--/full width text-->


        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Sensory Awakening<span class="textColor02"> // May 20,21 2013, KUNST-STOFF arts</span></h2>
                <p class="defaultText textColor01">
                    Join Kinetech in our explorations and innovations of movement and technology. See several new works created in collaboration between the dance artists and computer geniuses of Kinetech. Immerse yourself in these mediums and see how your technological life is also a work of art. <br />
                    <a href="https://www.facebook.com/events/158207947688400/">Like to the event</a>
                </p>
                <!--eislider-->
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="pages/events_images/sens09.jpg" alt="" />
                        </li>
                    </ul><!-- ei-slider-large -->
                </div>
                <!--eislider-->
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->

        <!--two columns text-->
        <!-- <div class="row">
            <div class="eight columns">
                <h3 class="textColor01">Two columns - Column 1</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/about_images/article1.jpg" />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                </p>
            </div>

            <div class="eight columns">
                <h3 class="textColor01">Two columns - Column 2</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/about_images/article2.jpg" />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                </p>
            </div>

            <div class="clear-fx"></div>

        </div> -->
        <!--/two columns text-->


        <!--horizontal dotted line-->
        <!-- <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>
        </div>       -->
        <!--/horizontal dotted line-->


        <!--three columns text-->
        <!-- <div class="row">
            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 1</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 2</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 3</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

        </div> -->
        <!--/three columns text-->


        <!--horizontal dotted line-->
        <!-- <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>
        </div>           -->
        <!--/horizontal dotted line-->



    </div>
    <!--/skeleton container-->



</div>