<div class="genericSection section-SINGLE_PROJECT">
        
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row"><div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Upcoming Forum</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
        </div></div>
        <!--/Section title H2-->
        
        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">April 29, 2014, David Glowacki</h3>
            <p class="defaultText textColor01">
            Using human energy fields to sculpt atomic physics<br />
            <a href="pages/forum_images/David Glowacki_1.jpg"><img src="pages/forum_images/David Glowacki_1_thumb.jpg" /></a>
            <a href="pages/forum_images/David Glowacki_2.jpg"><img src="pages/forum_images/David Glowacki_2_thumb.jpg" /></a>
            <a href="pages/forum_images/David Glowacki_3.jpg"><img src="pages/forum_images/David Glowacki_3_thumb.jpg" /></a>

            Humans are basically fancy energy fields. That’s what modern physics tells us, and that’s also the premise of danceroom Spectroscopy (dS), a new multi-award winning technology that utilises 3d capture to transform people into energy fields and give them a glimpse into the invisible atomic world that surrounds them all the time, but which cannot be seen with the naked eye. dS has been used to construct the world’s first large scale, interactive atomic dynamics experience. At the frontier of Sci-Art collaborations, dS explores new languages and crossovers on the interface of physics, digital art, interactive technology, and interactive supercomputing. It has a range of scientistic and artistic applications, and has recently been used to create a dance performance entitled Hidden Fields, a piece in which the motion of the dancers’ energy fields are used to generate all of the sound and graphics in real-time. In this talk, Glowacki will touch on the scientific origins of the dS project, the technology which makes it possible, the collaborations which it sparked, and show some demos of what it looks like. For more information, see www.danceroom-spec.com

            <br />


            <br />

            David Glowacki (PhD, MA) is a Royal Society Research Fellow presently based in San Francisco. He holds joint appointments at Stanford University and the University of Bristol (UK). With a Master of Arts in cultural theory and a PhD in chemical physics, he has a growing international reputation spanning both computational nano-physics and interactive digital art, with a growing number of high-profile publications in both areas. David is also the creator of danceroom Spectroscopy (dS), an interactive digital framework that fuses his multi-disciplinary interests, which has been used to create a dance piece entitled Hidden Fields. dS has been displayed at leading European cultural institutions, including Germany’s ZKM Centre for Art and Media, London’s Barbican Arts Centre, and the London 2012 Cultural Olympiad. For more information, see <a href="www.glow-wacky.com">www.glow-wacky.com</a>
            </p>

        </div></div>


        <!--Section title H2-->
        <div class="row"><div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Past Forum</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
        </div></div>
        <!--/Section title H2-->

        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">April 15, 2014, Piero Scaruffi and Robert Edgar</h3>
            <p class="defaultText textColor01">
            <a href="http://www.scaruffi.com/">Piero Scaruffi</a> is a cognitive scientist who has lectured in three continents and published several books on Artificial Intelligence and Cognitive Science, the latest one being "The Nature of Consciousness" (2006). He pioneered Internet applications in the early 1980s and the use of the World-Wide Web for cultural purposes in the mid 1990s. His poetry has been awarded several national prizes in Italy and the USA. His latest book of poems and meditations is "Synthesis" (2009). As a music historian, he has published ten books, the latest ones being "A History of Rock and Dance Music" (2009) and "A History of Jazz Music" (2007). His latest book of history is "A History of Silicon Valley" (2011). The first volume of his free ebook "A Visual History of the Visual Arts" appeared in 2012. His latest book is "Demystifying Machine Intelligence" (2013). He has also written extensively about cinema and literature.<br />

            Summary:
            Why did Silicon Valley happen where it happened? The money, the brains and the 
            technology were all somewhere else. Still, it happened in the most unlikely of 
            places, a place that was mostly famous for orchards and that had virtually no 
            technology, no (scientific) brains and no venture capital. Where does creativity
            come from? What makes humans more creative than other species, or maybe the only
            creative species at all? And, finally, are those conditions still here today?
            Do we truly live in an age of unbridled creativity?<br /><br />

            <a href="http://www.robertedgar.com/">Robert Edgar</a> creates and employs software engines to examine mediated artifacts forged at his zone of proximal development. Robert’s computer-based art engines include Simultaneous Opposites (2008 – present), The Duchamp Examinations (2006), Memory Theatre Two (2003), Sand, or How Computers Imagine Truth in Cinema (1994), Living Cinema (1988), and Memory Theatre One (1985). Robert holds an MFA from Syracuse University’s College of Visual and Performing Arts. He grew up in Cocoa Beach, Florida during the birth of the NASA Space Program (1958-1970). Robert is an Instructional Designer at Stanford University. <br />

            Summary:
            In 1985, Robert programmed “Memory Theatre One” on an Apple //e.  There were historical threads of an art of memory that were presented by the art historian Frances Yates in the early 1970s. At Kinotech, Robert will present selected examples of his artwork and their relations to that teleology.<br />
             
            Robert’s computer-based art engines include Simultaneous Opposites (2008 – present), The Duchamp Examinations (2006), Memory Theatre Two (2003), Sand, or How Computers Imagine Truth in Cinema (1994), and Living Cinema (1988).
            </p>
        </div></div>

        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Feb 25, 2014, Johan Bichel Lindegaard</h3>
            <p class="defaultText textColor01">
            Johan is an artist who works with interaction and performance using programming and new technology as the tools. Most recently he has worked in New York with the Copenhagen based Recoil Performance Group on introducing stereographic projections into the space with a performer and making it interactive. He will share some results from current experiments as well as some examples from earlier productions.<br />

            Read more at <a href="http://johan.cc">http://johan.cc</a> and <a href="http://recoil-performance.org">http://recoil-performance.org</a>
            </p>
        </div></div>


       <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Nov 26, 2013, Muriel Maffre</h3>
            <p class="defaultText textColor01">
            Muriel Maffre is a formal prinicipal dancers at San Francisco Ballet. She is now the director of the Museum of Performance and Design, and faculty of Alonzo King Lines Ballet.
            </p>
        </div></div>


        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Nov 12, 2013, Ian Winters</h3>
            <p class="defaultText textColor01">
            Ian Winters is an award winning video & media artist working at the intersections of headshot2_DSC6481performance, architectural form, and time-based media. In addition to individual work he often collaborates with composers, directors, and choreographers to create both staged and open-ended media environments through performance, visual and acoustic media.
            <a href="http://www.ianwinters.com/">Artist's home page</a>
            </p>
        </div></div>
     
   
        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Oct 15, 2013, Karen Marcelo</h3>
            <p class="defaultText textColor01">
            Karen Marcelo is director at dorkbotSF. <a href="http://karenmarcelo.org/">Artist's home page</a>
            </p>
        </div></div>



        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Oct 8, 2013, Maxine Moerman and Daniel Konhauser</h3>
            <p class="defaultText textColor01">
            Choreographer Maxine Moerman and Video/Sound artist Daniel Konhauser discuss and present excerpts of documentation from their Media Assisted Performance and Site-Specific collaborations.
            <br />
            <a href="https://vimeo.com/22242362">Wander (film)</a>
            <br />
            <a href="https://vimeo.com/35766950">Lake Baikal July '68 (performance documentation)</a>
            <br />
            <a href="http://danielkonhauser.com/">Daniel's home page</a>
            </p>
        </div></div>



        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Oct 8, 2013, Benjamin Pierce and Muriel Maffre</h3>
            <p class="defaultText textColor01">
            Muriel Maffre and Ben Pierce are formal prinicipal dancers at San Francisco Ballet. Ben is now the owner of Ben Pierce Films, winner of Emmy and Cine Golden Eagle. Muriel is now the director of the Museum of Performance and Design, and faculty of Alonzo King Lines Ballet.
            <br /><br />
            Le Sacre du Printemps by Igor Stravinsky, in all of its dissonant charm and narrative profundity, is an intimidating score to say the least. It took listening to it for a month before Muriel and I could get a foothold on where to begin. The transcription we used for the production, which happens to be Stravinsky's original score before it was orchestrated, is for one piano and four hands. It's a thrilling piece of music to behold live and our world-class musicians John Kimura Parker and Anton Nell were spectacular. Although I had an overall vision for the production, which included the three elements of live music, choreography and film, I was not able to see them all together until the day before the performance. The choreography began the same way the film did, one small section at a time. I worked on the film during the day and met Muriel in the studio at night where we choreographed often til midnight. The most important part of the film, composited material of video footage and video of us dancing, couldn't be filmed until the piece was finished. We filmed ourselves dancing at the end of the last day of rehearsal and I edited the material over the next 48 hours to include it in the program.
            <br /><br />
            When we got to Orcas, it was a technological feet to make the production seamless. By opening night, one DVD player and a projector, two live camera feeds, three chairs and four artists achieved a kind of symmetry we have been proud of ever since. None of it would have been possible without the team of 10 volunteer staff members behind the scenes and the artists on stage who on occasion also operated cameras and troubleshot while the performance was in progress.
           
            </p>
        </div></div>

        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Oct 1, 2013, Paco Gomes</h3>
            <p class="defaultText textColor01">
            <a href="http://whoispacogomes.wordpress.com/">Who is Paco Gomes</a>
            </p>
        </div></div>

        <div class="row"><div class="sixteen columns">
            <h3 class="textColor01">Oct 1, 2013, Cere Davis, Audio Immersion</h3>
            <p class="defaultText textColor01">
            Use of audio media to create an immersive performance and encourage greater audience participation.   Acoustic sensing devices and real-time sound input processing can be used in the performance space to augment other multimedia environments, resulting in a more interactive and creative experience.
            </p>
        </div></div>

        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Sept 24, 2013, Raymond Larrett</h3>
                <p class="defaultText textColor01">
                Raymond Larrett, Editor in Chief at <a href="http://puzzledsquirrel.com">Puzzled Squirrel Press</a> spoke on the subject of digital publishing, and how he uses HTML5, CSS and Javascript to create responsive, interactive magazine apps, such as <a href="http://thunkism.com/thunk-app-available-now/">Thünk Magazine</a>.
                </p>
            </div>         
        </div>
        <!--/full width text-->

        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Sept 24 2013, Joshua Kauffman</h3>
                <p class="defaultText textColor01">
                <a href="www.linkedin.com/in/joshuakauffman/">Joshua Kauffman</a> is a globally-active designer, consultant and facilitator, and he is an advisor to the Quantified Self movement. 
                <br />
                <br />
                The movements in dance can express and suggest inner personal states. <br />

                These inner states are increasingly detectable with technologies that track our behaviors and biometrics, turning them into personal data.<br />
                 
                <a href="http://quantifiedself.com/">The Quantified Self</a> is a global movement dedicated to the practice of self-tracking to reveal hidden insights in personal data that can lead people to become better versions of themselves. <br />

                Kinetech can be inspired by advanced forms of self-tracking as practices in the Quantified Self. Some possible initial directions include dancers revealing the real-time fluctuations in their personal data as they perform, sound and visual effects that use personal data as an input, relationships between dancers mediated by tracking and personal data, and audience tracking affecting performance outcomes. 
                </p>     
            </div>    
        </div>
        <!--/full width text-->
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Sept 17 2013, Marissa Katerina Bergmann</h3>
                <p class="defaultText textColor01">
                    Marissa Katerina Bergmann is a visual artist, performer, and musician. <a href="http://marissakatarina.tumblr.com/">See the artist on tumblr</a> 
                </p>
            </div>         
        </div>
        <!--/full width text-->
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">July 2013, Nitipat Ong Pholchal</h3>
                <p class="defaultText textColor01">
                    Fractal and Chaos.<br />
                    Nitipat Ong Pholchal was born and raised in Bangkok, Thailand. Asides from being a dancer, he holds a B.A. in Physics from Harvard University and a PhD in Applied Science and Technology from UC Berkeley.
                </p>
        </div>
        <!--/full width text-->
        

    </div>
    <!--/skeleton container-->
 
    
         
</div>