<div class="genericSection section-ABOUT">
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->

    <!--add here page number-->
    <!-- <p class="pageNum textColor01">01/<span class="textColor03">01</span></p> -->
    <!--/add here page number-->

    <!--skeleton container-->
    <div class="container">

        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->


        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Kinetech Open Labs</h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->

        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <p class="defaultText textColor01">
                    Kinetech hosts weekly open lab at KUNST-STOFF arts. For exact time and location, please see the calender on the home page. The lab is designed to be a place for meeting of minds. People from different disciplines come together, mix, and experiement together. The lab was started based on the idea that interesting things happens, often unexpectedly, when passionate people of different backgrounds working together.<br />
                    
                    One common observation from regulars in the lab is that, every lab is very different. This is because the participants experience the lab, but also shape the lab. <br />

                </p>
                            <center>
                <img class = "imageCenter" src="pages/lab_images/lab01.jpg" width = "600"/>
            </center>

            </div>
        </div>
        <!--/full width text-->

        

        <!--/degrade slider container-->


        <!--three columns text-->
        <!-- <div class="row">
            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/shapes.png" />
                <h3 class="textColor01">Branding</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/target.png" />
                <h3 class="textColor01">Identity</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

            <div class="one-third column">
                <img class="imageLeft" src="pages/about_images/tv.png" />
                <h3 class="textColor01">Design</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>

        </div> -->
        <!--/three columns text-->

    </div>
    <!--/skeleton container-->



</div>