<div class="genericSection section-ISOTOPE-PORTFOLIO">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_portfolio.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <p class="pageNum textColor01">02/<span class="textColor03">02</span></p>
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <img class="brand" src="images/logo.gif" alt="logo" />
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H1-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Showcase your work<span class="textColor02"> // The clean, responsive, fancy way.</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H1-->
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <p class="defaultText textColor01">
                    Sort and display the items in an easy way using the masonry effect - <a href="http://isotope.metafizzy.co/">http://isotope.metafizzy.co/</a>
                    <br />Click on any of the icons to sort the items.
                </p>
                <ul class="isotopeMenu">
                    <li><a class="iconAll" href="*">All</a></li>
                    <li><a class="eye" href="cat1">Category 1</a></li>
                    <li><a class="image" href="cat2">Category 2</a></li>
                    <li><a class="wheel" href="cat3">Category 3</a></li>
                </ul>
            </div>         
        </div>
        <!--/full width text-->        
        
        <!--isotope gallery-->
        <div class="row">
            <div class="sixteen columns">
                <div class="isotopeContainer">
                    
                    <!--item without caption-->
                    <div class="cat1 isotopeItem imageItemType whiteHoverItem imageSize1">
                        <img src="pages/portfolio_images/1.jpg" />
                        <a class="whiteHover" href="#!SingleProject.html"></a>
                        <div class="plusIco"></div>                        
                    </div>
                    <!--/item without caption-->
                    
                    
                    <!--item without caption-->
                    <div class="cat1 isotopeItem imageItemType whiteHoverItem imageSize1">
                        <img src="pages/portfolio_images/3.jpg" />
                        <a class="whiteHover" href="#!SingleProject.html"></a>
                        <div class="plusIco"></div>                                                
                    </div>
                    <!--/item without caption-->                    
                    
                    
                    <!--item with caption-->
                    <div class="cat2 isotopeItem imageItemType captionHoverItem imageSize1">
                        <a href="#!SingleProject.html"><img src="pages/portfolio_images/2.jpg" /></a>
                        <div class="whiteCaption">
                            <div class="whiteCaptionBackground"></div>                          
                            <p class="isotopeCaptionText textColor04">branding</p>                            
                        </div>
                        <div class="plusIco"></div>                       
                    </div>
                    <!--/item with caption-->
                    
                                       
                    
                    <!--text item-->
                    <div class="cat3 isotopeItem isotomeTextItem textSize2">
                        <div class="isotopeHeaderText backgroundColor02">
                            <p class="textColor01">Project2</p>
                        </div>
                        <p class="defaultText textColor01">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum tempor facilisis. Proin purus est.Lorem ipsum dolor sit amet, consectur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectur adipiscing elit.
                        </p>
                    </div>
                    <!--text item-->
                    
                    <!--item without caption-->
                    <div class="cat1 isotopeItem imageItemType whiteHoverItem imageSize1">
                        <img src="pages/portfolio_images/6.jpg" />
                        <a class="whiteHover" href="#!SingleProject.html"></a>
                        <div class="plusIco"></div>                                                
                    </div>
                    <!--/item without caption-->                    
                    
                    
                    <!--item with caption-->
                    <div class="cat2 isotopeItem imageItemType captionHoverItem imageSize1">
                        <a href="#!SingleProject.html"><img src="pages/portfolio_images/5.jpg" /></a>
                        <div class="whiteCaption">
                            <div class="whiteCaptionBackground"></div>                          
                            <p class="isotopeCaptionText textColor04">projects</p>                            
                        </div>
                        <div class="plusIco"></div>                       
                    </div>
                    <!--/item with caption--> 
                    
                    
                    <!--item without caption-->
                    <div class="cat1 isotopeItem imageItemType whiteHoverItem imageSize2">
                        <img src="pages/portfolio_images/4.jpg" />
                        <a class="whiteHover" href="#!SingleProject.html"></a>
                        <div class="plusIco"></div>                                                
                    </div>
                    <!--/item without caption-->
                                                                                                    
            
                    <!--text item-->
                    <div class="cat3 isotopeItem isotomeTextItem textSize1">
                        <div class="isotopeHeaderText backgroundColor02">
                            <p class="textColor01">Project1</p>
                        </div>
                        <p class="defaultText textColor01">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum tempor facilisis. Proin purus est.Lorem ipsum dolor sit amet, consectur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectur adipiscing elit. Proin purus est.Lorem ipsum dolor sit amet, consectur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectur adipiscing elit.
                        </p>
                    </div>
                    <!--text item-->
                                                             
                                     
                
                                        
                </div>
            </div>
        </div>
        <!--/isotope gallery-->    
        

    </div>
    <!--/skeleton container-->
 
    
         
</div>