<div class="genericSection section-REEL">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_videos.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <p class="pageNum textColor01">05/<span class="textColor03">01</span></p>
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <img class="brand" src="images/logo.gif" alt="logo" />
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Demo reel<span class="textColor02"> // Showcase your work</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->
        
        
        
        <!--vimeo video-->
        <div class="row">
            <div class="sixteen columns">                                           
                
                <div class="videoContainer">
                    <iframe src="http://player.vimeo.com/video/45878034?title=0&amp;byline=0&amp;portrait=0&amp;color=ec1c4d" width="100%" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                
            </div>         
        </div>
        <!--vimeo video-->        



        <!--carousel gallery-->
        <div class="row">
            <div class="sixteen columns">
                
                
                <!-- Elastislide Carousel -->
                <div id="carousel" class="es-carousel-wrapper">
                    <div class="es-carousel">
                        <ul>
                            <!--carousel item-->
                            <li>
                               <a class="horizontalCarouselItem" href="#!Reel.html">
                                    <img src="pages/reel_images/1.jpg" alt="" />
                                    <div class="carouselItemCaption">
                                        <div class="genericBackground77 backgroundColor04"></div>
                                        <p class="carouselTextCaption">Video 1</p>
                                    </div>
                               </a>
                            </li>
                            <!--/carousel item-->
                            
                            <!--carousel item-->
                            <li>
                               <a class="horizontalCarouselItem" href="#!Reel.html">
                                    <img src="pages/reel_images/2.jpg" alt="" />
                                    <div class="carouselItemCaption">
                                        <div class="genericBackground77 backgroundColor04"></div>
                                        <p class="carouselTextCaption">Video 2</p>
                                    </div>
                               </a>
                            </li>
                            <!--/carousel item-->
                            
                            <!--carousel item-->
                            <li>
                               <a class="horizontalCarouselItem" href="#!Reel.html">
                                    <img src="pages/reel_images/1.jpg" alt="" />
                                    <div class="carouselItemCaption">
                                        <div class="genericBackground77 backgroundColor04"></div>
                                        <p class="carouselTextCaption">Video 3</p>
                                    </div>
                               </a>
                            </li>
                            <!--/carousel item-->
                            
                            <!--carousel item-->
                            <li>
                               <a class="horizontalCarouselItem" href="#!Reel.html">
                                    <img src="pages/reel_images/2.jpg" alt="" />
                                    <div class="carouselItemCaption">
                                        <div class="genericBackground77 backgroundColor04"></div>
                                        <p class="carouselTextCaption">Video 4</p>
                                    </div>
                               </a>
                            </li>
                            <!--/carousel item-->
                            
                            <!--carousel item-->
                            <li>
                               <a class="horizontalCarouselItem" href="#!Reel.html">
                                    <img src="pages/reel_images/1.jpg" alt="" />
                                    <div class="carouselItemCaption">
                                        <div class="genericBackground77 backgroundColor04"></div>
                                        <p class="carouselTextCaption">Video 5</p>
                                    </div>
                               </a>
                            </li>
                            <!--/carousel item-->                                                                                                                 
                                                                                    
                        </ul>
                    </div>
                </div>
                <!-- End Elastislide Carousel -->              
                
            </div>
        </div>
        <!--/carousel gallery--> 




    </div>
    <!--/skeleton container-->
 
    
         
</div>