<div class="genericSection section-SINGLE_PROJECT">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_single_project.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    <p class="pageNum textColor01">03/<span class="textColor03">01</span></p>
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->
        
        
        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Single Project<span class="textColor02"> // The project description goes below</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->
        
        
        
        <!--ei-slider container-->
        <div class="row">
            <div class="sixteen columns">
                
                <!--eislider-->
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="pages/single_project_images/1.jpg" alt="" />
                        </li>                        
                        <li>
                            <img src="pages/single_project_images/2.jpg" alt="" />
                        </li>                        
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="#"></a><img src="pages/single_project_images/1_thumb.jpg" alt="" /></li>
                        <li><a href="#"></a><img src="pages/single_project_images/2_thumb.jpg" alt="" /></li>                                                                
                    </ul><!-- ei-slider-thumbs -->
                </div>
                <!--eislider-->              
                
            </div>         
        </div>
        <!--/ei-slider container-->         
        
        
        
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">One column</h3>
                <p class="defaultText textColor01">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
                    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.                    
                </p>
            </div>         
        </div>
        <!--/full width text-->
        
        
        <!--horizontal dotted line-->
        <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>         
        </div>                
        <!--/horizontal dotted line-->
        
                
        <!--two columns text-->
        <div class="row">
            <div class="eight columns">
                <h3 class="textColor01">Two columns - Column 1</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/about_images/article1.jpg" />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam                   
                </p>
            </div>
            
            <div class="eight columns">
                <h3 class="textColor01">Two columns - Column 2</h3>
                <p class="defaultText textColor01">
                    <img class="imageLeft" src="pages/about_images/article2.jpg" />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                </p>
            </div>
            
            <div class="clear-fx"></div>             
                     
        </div>
        <!--/two columns text-->         
        
        
        <!--horizontal dotted line-->
        <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>         
        </div>                
        <!--/horizontal dotted line-->
        
        
        <!--three columns text-->
        <div class="row">
            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 1</h3>                
                <p class="defaultText textColor01">                   
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.                
                </p>
            </div>
            
            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 2</h3>
                <p class="defaultText textColor01">                    
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.              
                </p>
            </div>
            
            <div class="one-third column">
                <h3 class="textColor01">Three columns - Column 3</h3>
                <p class="defaultText textColor01">                    
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.               
                </p>
            </div>                         
                     
        </div>
        <!--/three columns text-->
        

        <!--horizontal dotted line-->
        <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>         
        </div>                
        <!--/horizontal dotted line-->                              
        
        

    </div>
    <!--/skeleton container-->
 
    
         
</div>





            <div id="ei-slider" class="ei-slider">
                <ul class="ei-slider-large">
                    <li>
                        <img src="pages/forum_images/David Glowacki_1.jpeg" alt="" />
                    </li>                        
                    <li>
                        <img src="pages/forum_images/David Glowacki_2.jpeg" alt="" />
                    </li>                        
                    <li>
                        <img src="pages/forum_images/David Glowacki_3.jpeg" alt="" />
                    </li>                        
                    <li>
                        <img src="pages/forum_images/David Glowacki_4.jpeg" alt="" />
                    </li>                        
                </ul><!-- ei-slider-large -->
                <ul class="ei-slider-thumbs">
                    <li class="ei-slider-element">Current</li>
                    <li><a href="#"></a><img src="pages/forum_images/David Glowacki_1_thumb.jpeg" alt="" /></li>
                    <li><a href="#"></a><img src="pages/forum_images/David Glowacki_2_thumb.jpeg" alt="" /></li>
                    <li><a href="#"></a><img src="pages/forum_images/David Glowacki_3_thumb.jpeg" alt="" /></li>
                    <li><a href="#"></a><img src="pages/forum_images/David Glowacki_4_thumb.jpeg" alt="" /></li>
                </ul><!-- ei-slider-thumbs -->
            </div>