<!-- put this right after <body>-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=414164052039489";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



<!-- put this where we need it-->

<div id="FBHolder">
    <center>

		<!-- FB -->

	    <div class="fb-like" data-href="https://www.facebook.com/kinetechlab" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>


	    <!-- Twitter -->

	    <a href="https://twitter.com/kine_tech" class="twitter-follow-button" data-show-count="false">Follow @kine_tech</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    <br /><br />                          
    <center>        


</div>



<!-- in about page -->
        <center>
            <div class="fb-like" data-href="https://www.facebook.com/kinetechlab" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>

            <a href="https://twitter.com/kine_tech" class="twitter-follow-button" data-show-count="false">Follow @kine_tech</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>
        </center>
