<div class="genericSection section-HOME">
        
    <!--add here url for this section background image-->
    <img class="sectionBackgroundImage" src="pages/backgrounds/background_home.jpg" />
    <!--/section background image-->
    
    <!--add here page number-->
    
    <!--/add here page number-->
    
    <!--skeleton container-->
    <div class="container">
                
        <!--Website logo-->
        <div class="row">
            <div class="sixteen columns">
                <a href="#!Home"><img class="brand" src="images/logo.gif" alt="logo" /></a>
            </div>
        </div>
        <!--/Website logo-->

        <!--Section title H2-->
        <div class="row">
            <div class="sixteen columns">
                <div class="h2square backgroundColor02"></div>
                <h2 class="textColor01">Kinetech Arts<span class="textColor02"> //  at SPF7</span></h2>
                <div class="horizontalLine backgroundColor02"></div>
                <div class="clear-fx"></div>
            </div>
        </div>
        <!--/Section title H2-->
        
        
        
        <!--ei-slider container-->
        <div class="row">
            <div class="sixteen columns">
                
                <!--eislider-->
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="pages/spf7/spf7-1.jpg" alt="" />
                        </li>                        
                        <li>
                            <img src="pages/spf7/spf7-2.jpg" alt="" />
                        </li> 
                        <li>
                            <img src="pages/spf7/spf7-3.jpg" alt="" />
                        </li>                       
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="https://app.arts-people.com/index.php?ticketing=orent"><img src="pages/spf7/spf7-1_thumb.jpg" alt="" /></a></li>
                        <li><a href="https://app.arts-people.com/index.php?ticketing=orent""><img src="pages/spf7/spf7-2_thumb.jpg" alt="" /></a></li>
                        <li><a href="https://app.arts-people.com/index.php?ticketing=orent""><img src="pages/spf7/spf7-3_thumb.jpg" alt="" /></a></li>                                                                
                    </ul><!-- ei-slider-thumbs -->
                </div>
                <!--eislider-->              
                
            </div>         
        </div>
        <!--/ei-slider container-->         
        
        
        
        
        <!--full width text-->
        <div class="row">
            <div class="sixteen columns">
                <h3 class="textColor01">Kinetech Arts presents the premiere of The Other Sight, a dance exploration on the theme of surveillance</h3>

                <p class="defaultText textColor01">WHEN: JULY 19 -20</p>
                <p class="defaultText textColor01">July 19, 2014 @ 8 pm., July 20, 2014 @ 2 pm</p>

                <p class="defaultText textColor01">WHERE: ODC THEATER 3153 17th St</p>

                <h2><a href="https://app.arts-people.com/index.php?ticketing=orent">TICKETS: $10-20 (scroll down to 7/19, 20)</a></p>


                <h2><em>“Best Genre-Defying Sci-Artistic Collaborative in San Francisco 2014 - Kinetech”</em> —SF Weekly</h2>


                <p class="defaultText textColor01">Kinetech Arts is proud to announce the premiere of The Other Sight and the opening of In The Night as part of the Summer Performance Festival 7 at ODC Theater.</p>

                <p class="defaultText textColor01">The Other Sight integrates movement and tech finding inspiration at the intersection of current events, connectivity, and global surveillance systems. “Every move we make, every contact we hold, every penny that passes through our fingers is being monitored.” —SPF7. This performance meditates on the theme of watching and being watched and what we choose to reveal.</p>

                <p class="defaultText textColor01">The work was developed as part of the Resident Artists Workshop at KUNST-STOFF arts, choreographed by Daiane Lopes da Silva in collaboration with the dancers. Technology by Weidong Yang; visual art by Charlie Levin and Raymond Larrett; original music by Robert Edgar, Robin Edgar, and Jean Tarantino. Dancers: Daiane Lopes da Silva, Katherine Disenhof, Colin Epstein, Irene Hsiao, Qinmin Liu, Priscilla Park and Rebecca Rose Robinson- Leviton.</p>

                <p class="defaultText textColor01">The Other Sight will be presented in conjunction with Daiane Lopes da Silva’s solo work, In the Night, an abstraction of time spent in the night reflecting upon life, death, and God. How does losing a loved one affect us? And how does it change our actions in the future?</p>                   
               
            </div>         
        </div>
        <!--/full width text-->
        
        
        <!--horizontal dotted line-->
        <div class="row">
            <div class="sixteen columns">
                <div class="horizontalDottedLine"></div>
            </div>         
        </div>                
        <!--/horizontal dotted line-->
      


        